.Block-Description-Text {
    font-family: Georgia;
    font-size: 16px;
    padding-right: 40px;
}

.Block-Description-Text table td, .Block-Description-Text table th {
    padding: 4px;
}

.Block-Description-Text table {
    margin-bottom: 10px;
}

.Block-Description-CodeExample .CodeMirror { 
    background: #f0f2f5;
}
