.Stock-AddFootprint {
    width: 100%;
}

.Stock-AddParams .ant-input-group-wrapper {
    margin-bottom: 4px;
}

.Stock-AddParams .ant-btn-dashed {
    margin-bottom: 4px;
    margin-right: 4px;
}

.Stock-AddParams .ant-select {
    padding-bottom: 4px;
    padding-right: 4px;
}

.Stock-AddForm .ant-form-item-control-wrapper {
    width: 100%;
}
.Stock-AddFormStock .ant-form-item { 
    width: 40%;
}
.Stock-PartTitle {
    white-space: nowrap;
}
.Stock-PartDescriptionTitle {
    font-weight: 600;
    display: block;
}
.Stock-PartDescriptionParam {
    display: inline-block;
    margin-right: 8px;

}

.Stock-TableAction button{
    margin-left: 8px;
    margin-bottom: 8px;
}

.Stock-PrintLabel {
    border: 1px solid #000;
}

.Stock-PrintLabelBlock {
    background: #000;
    color: #fff;
}

.Stock-PrintLabelModel {
    font-weight: 500;
}

.Stock-PrintLabelDescription {
    font-size: 10px;
}