.Block-Diagram-Widget {
    width: 100%;
    min-height: 500px;

    /* background-color: #3c3c3c !important;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
    background-size: 50px 50px; */
}

.Block-Diagram-Widget .srd-default-node {
    border-width: 1px;
    border-radius: 4px;

    font-family: 'routed';
    font-size: 12px;

}

.Block-Diagram-Widget .srd-default-node__name {
    padding: 4px 10px;
}

.Block-Diagram > svg * {
    cursor: pointer;
}

.Block-Diagram > svg *:hover {
    stroke: red !important;
}