@import '~antd/dist/antd.css';

@font-face {
  font-family: 'routed';
  src: url('/font/routed-gothic.ttf')  format('truetype');
}

.App {
  font-family: 'routed';
  font-size: 16px;
  line-height: 20px;
}

.App-Logo, .App-LogoDescription, .App-LogoHeader {
  background: url('/logo.svg') no-repeat;
  background-size: contain;
}

.App-LogoDescription {
  width: 200px;
  height: 50px;
  margin-left: -17px;
  margin-bottom: 30px;
}

.App-LogoHeader {
  float: right;
  width: 100px;
  height: 30px;

  margin-top: 14px;
  margin-right: 24px;
}

.App-Side  {
  overflow: scroll;
  background: white;
}
.App-Description {
  margin: 100px;
}

.App-Description li {
  margin-bottom: 8px;
}

.ant-layout-header {
  height: auto;
  padding: 0;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #000;
  border-bottom: 2px solid red;
}

.ant-layout-content {
  padding: 24px;
}


.ant-layout-footer {
  padding: 8px 24px;
  z-index:10;
}

.copyright {
  float: right;
}

.copyright a {
  margin-left: 24px;
}