.Block-Modificator {
    margin-top: -8px;
}

.Block-Characteristics .ant-input-group-wrapper {
    margin-bottom: 4px;
}
.Block-Characteristics .ant-input-group-addon:first-child {
    min-width: 60px;
}
.Block-Characteristics h2 {
    margin-top: 8px;
}

.Block-Arguments .ant-input-group-addon:last-child {
    min-width: 40px;
}

.Block-Pins button {
    display: block;
    margin-bottom: 8px;
}