.Block-Modificator {
    margin-top: -8px;
}

.Block-Arguments .ant-input-group-wrapper {
    margin-bottom: 4px;
}
.Block-Arguments .ant-input-group-addon:first-child {
    min-width: 60px;
}

.Block-Arguments .ant-input-group-addon:last-child {
    min-width: 40px;
}

.Block-Pins button {
    margin-right: 16px;
}