.Block-Modificator {
    margin-top: -8px;
}

.Block-Characteristics .ant-input-group-wrapper {
    margin-bottom: 4px;
    padding: 0 4px;
}

.Block-Characteristics h2 {
    margin-top: 8px;
}

.Block-Characteristics .ant-tag {
    margin-bottom: 8px;
}

.Block #react-mathjax-preview {
    display: inline-block;
}

.Block-ParamTooltip .ant-tooltip-inner {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.Block-Pins button {
    display: block;
    margin-bottom: 8px;
}


.Block-Param {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 45%;
    max-width: 100%;
    margin-left: 10px;
    display: inline-block;
}
.Block-InlineParams {
    margin-left: -5px;
}

.Block-InlineParams .Block-ParamInput {
    display: inline-block;
    width: 50%;
}

.Block-AddPart {
    background: #ffffff;
    border-style: dashed;
}

.Block-Description {
    font-family: Georgia;
    font-size: 16px;
    padding-right: 40px;
}

.Block-Description table td, .Block-Description table th {
    padding: 4px;
}

.Block-Description table {
    margin-bottom: 10px;
}

.Block-CodeExample .CodeMirror { 
    background: #f0f2f5;
}

.Block-TestAction {
    z-index: 10;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
.Block-TestAction_checked {
    padding-top: 0;
    height: auto;
    width: auto;

    margin-top: -17px;
}
.Block-Code .CodeMirror {
    height: 100vh;
}

.Block-Code > .ant-tabs-card > .ant-tabs-content {
    height: 100vh;

    margin-top: -16px;
  }

.Block-Code > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 0;

    height: 100vh;
}

.Block-Code > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
}

.Block-Code > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

.Block-Code > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
}


.Block-TransientChart .recharts-legend-item {
    cursor: pointer;
}

.Block-TransientChart .recharts-legend-item:hover {
    font-weight: bold;
    cursor: pointer;
}