.Source .ant-input-group-wrapper {
    margin-bottom: 4px;
}

.Source .ant-input-group-addon:first-child {
    min-width: 160px;
    text-align: left;
}


.Source-SerialPort {
    margin-bottom: 8px;
}