.BlockLight .ant-input-group-wrapper {
    margin-bottom: 4px;
}

.BlockLight .ant-input-group-addon:first-child {
    /* min-width: 160px; */
    text-align: left;
}

.BlockLight-Modificator {
    padding-left: 16px;
}

.BlockLight-Title {
    text-transform: capitalize; 
}

.BlockLight-SerialPort {
    margin: 8px 0;
}